@import models.Tables._
@(feeds: List[FeedRow])

@main("Site list") {

    <div class="container-fluid">

        <div class="col-md-3"; style="height:500px; overflow-y:scroll;">
            @for(f <- feeds){
                @f.name @f.url<br />
            }
        </div>
        <div class="col-md-9"; style="height:500px; overflow-y:scroll;">
            pages
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
            site list<br />
        </div>


    </div>

}

